.button-current-employee {
    display: flex;
    background-color: #02aab0;
    border: 0;
    border-radius: 0.5rem;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    max-width: fit-content;
}

.navlink-employees {
    text-decoration: none;
}

.navlink-employees svg {
    width: 20px;
    height: 20px;
}

.button-current-employee p {
    margin: 0;
    margin-left: 0.5rem;
}