.data-table {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.data-table table {
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 5px;
}
.data-table tr:last-child td {
  border-bottom: 0;
}

.data-table th, td {
  margin: 0;
  padding: 0.6rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.data-table th:last-child, td:last-child {
  border-right: 0;
}

