.data-table {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.data-table table {
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 5px;
}
.data-table tr:last-child td {
  border-bottom: 0;
}

.data-table th, td {
  margin: 0;
  padding: 0.6rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.data-table th:last-child, td:last-child {
  border-right: 0;
}

.pagination {
  padding: 1rem;
}

.search-bar input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.arrowIcon {
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
}